.trending {
  background: url(/img/trending/trending-background.jpg) no-repeat top;
  padding: 1px 0 68px 0;
  background-size: cover;
}


.trending__wrapper {
  @include wrap;
  margin-top: 60px;
}

.trending__title {
  @include opensans;
  line-height: 1;
  text-align: center;
  margin: 0;
  position: relative;
  padding: 27px 0;

  &::before {
    @include redline;
    top: 0;
  }

  &::after {
    @include redline;
    bottom: 0;
  }
}


.trending-slider__block-info {
  margin-left: 19px;
}

.trending-slider {
  display: flex;
  margin-top: 62px;
}

.trending-slider__second {
  display: none;
}

.trending-slider__third {
  display: none;
}

.trending-slider__fourth {
  display: none;
}

.trending-slider__foto {
  width: 570px;
}

.trending-slider__block-info {
  width: 570px;
}


.trending-slider__info {
  list-style: none;
  margin: 21px 0 0;
  padding: 0;
}

.trending-slider__info-title {
  font-family: "Lato";
  font-size: 30px;
  font-weight: 700;
  color: $red;
  line-height: 1.2;
  margin-top: 21px;
  margin: 0;
}

.trending-slider__info-collection {
  @include trending-text;
  margin-top: 17px;
  position: relative;
  padding-bottom: 25px;

  &::after {
    position: absolute;
    content: "";
    background-color: rgb(0, 0, 0);
    width: 30px;
    height: 1px;
    left: 0;
    bottom: 0;
  }
}

.trending-slider__info-description {
  @include trending-text;
  margin-top: 22px;
}

.trending-slider__info-advice {
  @include trending-text;
  margin-top: 26px;
}

.trending-slider__info-comment {
  @include trending-text;
  letter-spacing: 0.09em;
}

.trending-slider__button {
  margin-left: 11px;
  margin-top: 87px;

  .trending-slider__button-type:not(:last-child) {
    margin-right: 30px;
  }
}

.trending-slider__button-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.trending-slider__button-type {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  background-color: transparent;
  text-align: center;
  border: 1px solid $dark;
  color: $dark;
  padding: 15px 0;
  cursor: pointer;
  outline: none;

  &:hover {
    border-color: rgb(220, 0, 0);
  }

  &:active {
    background-color: $dark;
    border-color: $dark;
    color: $bg;
    outline: none;
  }

  &--size {
    width: 70px;
  }

  &--active {
    width: 170px;
    text-transform: uppercase;
  }
}

.trending-slider__button-action {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

//*************************************************
.trending__dots {
  position: absolute;
  bottom: -60px;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
}

.trending__dots li {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.trending__dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 12px;
  height: 12px;
  padding: 0;
  border-radius: 50%;
  background-color: #878787;
  border: none;
  margin: 0 5px;
  outline: none;
}

.trending__dots li.slick-active button {
  border: 2px solid $red;
  background-color: transparent;
  margin: 0 5px;
}


//-------------------------------------------------

@media (max-width: $tablet) {
  .trending__wrapper {
    padding: 0 20px;
  }

  .trending-slider {
    flex-direction: column;
    align-items: center;
  }

  .trending-slider__info-title {
    font-size: 25px;
  }

  .trending-slider__block-info {
    margin-left: 0;
    text-align: center;
  }

  .trending-slider__info-collection::after {
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
  }

  .trending-slider__button {
    margin: 0;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .trending-slider__button-action {
    margin-bottom: 20px;
  }

  .trending__title {
    font-size: 30px;
  }
}

@media (max-width: $mobile) {

  .trending-slider__block-info {
    width: 100%;
  }

  .trending-slider__info-title {
    font-size: 20px;
  }

  .trending-slider__info-collection {
    font-size: 13px;
  }

  .trending-slider__info-description {
    font-size: 13px;
  }

  .trending-slider__info-advice {
    font-size: 13px;
  }

  .trending-slider__foto {
    width: 100%;
    text-align: center;

      & img {
        width: 100%;
        height: auto;
      }
  }

  .trending__title {
    font-size: 25px;
    padding: 15px 0;
  }
}

@media (max-width: 415px) {
  .trending-slider__button-wrapper {
    width: 200px;
  }
}
