.trending {
  background: url(/img/trending/trending-background.jpg) no-repeat top;
  padding: 1px 0 68px 0;
  background-size: cover;
}

//................................................................

.trending__wrapper {
  @include wrap;
  margin-top: 60px;
}

.trending__title {
  @include opensans;
  line-height: 1;
  text-align: center;
  margin: 0;
  position: relative;
  padding: 27px 0;

  &::before {
    @include redline;
    top: 0;
  }

  &::after {
    @include redline;
    bottom: 0;
  }
}

//................................................................

.trending-slider__block-info {
  margin-left: 19px;
}

.trending-slider {
  display: flex;
  margin-top: 62px;

  &__foto {
    width: 50%;
  }

  &__block-info {
    width: 50%;
  }
}

.trending-slider__info {
  list-style: none;
  margin: 21px 0 0;
  padding: 0;
}

.trending-slider__info-title {
  font-family: "Lato";
  font-size: 30px;
  font-weight: 700;
  color: $red;
  line-height: 1.2;
  margin-top: 21px;
  margin: 0;
}

.trending-slider__info-collection {
  @include trending-text;
  margin-top: 17px;
  position: relative;
  padding-bottom: 25px;

  &::after {
    position: absolute;
    content: "";
    background-color: rgb(0, 0, 0);
    width: 30px;
    height: 1px;
    left: 0;
    bottom: 0;
  }
}

.trending-slider__info-description {
  @include trending-text;
  margin-top: 22px;
}

.trending-slider__info-advice {
  @include trending-text;
  margin-top: 26px;
}

.trending-slider__info-comment {
  @include trending-text;
  letter-spacing: 0.09em;
}

//................................................................

.trending-slider__button {
  margin-left: 11px;
  margin-top: 87px;

  .trending-slider__button-type:not(:last-child) {
    margin-right: 30px;
  }
}

.trending-slider__button-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.trending-slider__button-type {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  background-color: transparent;
  text-align: center;
  border: 1px solid $dark;
  color: $dark;
  padding: 15px 0;
  cursor: pointer;
  outline: none;

  &:hover {
    border-color: rgb(220, 0, 0);
  }

  &:active {
    background-color: $dark;
    border-color: $dark;
    color: $bg;
    outline: none;
  }

  &--size {
    width: 70px;
  }

  &--active {
    width: 170px;
    text-transform: uppercase;
  }
}

.trending-slider__button-action {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

//................................................................
.trending__button {
  margin-top: 47px;
  text-align: center;
  display: block;
}

.trending__button-element{
  @include slider-button;
  background-color: $dark;

  &:active {
    border: 2px solid $dark;
    margin: 0 3px;
  }
}


