.header {
  width: 1170px;
  margin: 0 auto;

  font-family: $font-main;
  font-size: 18px;
  line-height: 19px;
  font-weight: normal;

  display: flex;
  justify-content: space-between;
  background-color: antiquewhite;
}

.header__logo {
  font-family: $font-third;
  display: flex;
  align-items: flex-end;
  color: #dc0000;
}

.header__logo-title {
  font-size: 49px;
  line-height: 19px;
  font-weight: 700;
  margin-right: 5px;
}

.header__logo-text {
  font-size: 36px;
  line-height: 3px;
  font-weight: 400;
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__menu-nav {
  display: flex;
  list-style: none;
  margin: 0;
    & .header__menu-item:not(:last-child) {
      margin-right: 75px;
    }
}

.header__menu-item {
  & a {
    text-decoration: none;
    color: #ffffff;
  }

  & :hover {
    color: #dc0000;
    border-bottom: 1px solid #dc0000;
  }

  & :active {
    color: #660909;
    border-bottom: 1px solid #660909;
  }
}
