.header-wrapper {
  position: absolute;
  width: 100%;
}

.header {
  @include wrap;

  font-family: $font-main;
  font-size: 18px;
  line-height: 19px;
  font-weight: medium;

  display: flex;
  justify-content: space-between;
  background-color: transparent;

}

.header__logo {
  font-family: $font-third;
  display: flex;
  align-items: center;
  color: $red;
}

.header__logo-title {
  font-size: 49px;
  line-height: 1;
  font-weight: 700;
  margin: 0 5px 0 0;
}

.header__logo-text {
  font-size: 36px;
  line-height: 0.9;
  font-weight: 400;
  margin: 0;
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__menu-nav {
  display: flex;
  list-style: none;
  margin: 0;
}

.header__menu-item:not(:last-child) {
  margin-right: 75px;
}

.header__menu-item {
  a {
    text-decoration: none;
    color: #ffffff;
  }

  & :hover {
    color: $red;
  }

  & :active {
    color: #660909;;
  }
}
