.products {
  @include wrap;
  @include opensans;
  margin-top: 64px;
  margin-bottom: 60px;
}

.products__title {
  color: $dark;
  text-align: center;
  position: relative;
  line-height: 1;
  margin: 0;
  padding: 27px 0;
  &::before {
    @include redline;
    top: 0;
  }

  &::after {
    @include redline;
    bottom: 0;
  }
}

//................................................................

.products__list {
  margin-top: 61px;
}

.products__list-type {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.products__list-item {
  width: 33.33333%;
  height: 418px;
  display: flex;
  align-items: center;
  justify-content: center;
    + .products__list-item {
      margin-left: 20px;
    }

  &--men {
    background: url(/img/products/men.jpg) no-repeat 0 0;
    background-size: cover;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 85%;
      height: 85%;
      border: 3px solid $bg;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &--woman {
    background: url(/img/products/woman.jpg) no-repeat 0 0;
    background-size: cover;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 85%;
      height: 85%;
      border: 3px solid $bg;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &--watches {
    background: url(/img/products/watchers.jpg) no-repeat 0 0;
    background-size: cover;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 85%;
      height: 85%;
      border: 3px solid $bg;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.products__list-name {
  margin: 0;
  color: $bg;
}

//................................................................

.products__list-info {
  list-style: none;
  display: flex;
  margin: 30px 0 0;
  padding: 0;
}

.products__list-sentence {
  width: 50%;
  height: 418px;
  display: flex;
  align-items: center;
  text-align: center;

  &--off {
    background: url(/img/products/40_off.jpg) no-repeat center top;
    background-size: cover;
    margin-right: 20px;
  }

  &--sale {
    background: url(/img/products/mega_sale.jpg) no-repeat center top;
    background-size: cover;
  }
}

.products__list-text {
  font-family: "Lato";
  font-size: 45px;
  font-weight: 900;
  color: $bg;
  line-height: 1.2;
  margin: 0;
  font-style: normal;
  position: relative;

  &--off {
    padding: 12px 50px;
  }

  &--sale {
    padding: 12px 50px;
  }

  &::before {
    content: "";
    position: absolute;
    background-color: $bg;
    width: 192px;
    height: 1px;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
  }

  &::after {
    content: "";
    position: absolute;
    background-color: $bg;
    width: 192px;
    height: 1px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
  }
}

@media (max-width: $tablet) {
  .products {
    padding: 0 20px;

    &__title {
      font-size: 30px;

      &::after {
        width: 80px;
      }

      &::before {
        width: 80px;
      }
    }
  }

  .products__list-name {
    font-size: 30px;
  }

  .products__list-item {
    width: 33.3333%;
    height: 310px;
  }

  .products__list-sentence {
    height: 310px;
  }

  .products__list-text {
    font-size: 30px;
  }
}

@media (max-width: $mobile) {
  .products__list-name {
    font-size: 20px;
  }

  .products__list-text {
    font-size: 25px;

    &--off {
      padding: 10px 20px;
    }

    &--sale {
      padding: 10px 20px;
    }
  }

  .products__title {
    font-size: 25px;
    padding: 15px 0;
  }
}
