$col: #000;
$red: #dc0000;
$dark: rgb(51, 51, 51);
$bg: #fff;

$font-main: "Open Sans", "Arial", sans-serif;
$font-second: "Lato";
$font-third: "Bebas Neue";

$mobile: 767px;
$tablet: 1024px;
$desktop: 1120px;

