.promo-slider {
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  background: url(/img/promo_slider/main_slider.png) no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.promo-slider__title-wrapper {
  width: 1205px;
  margin: 0 auto;
  text-align: center;
  color: $bg;
  margin-top: 310px;
}

.promo-slider__button {
  @include wrap;
}

.promo-slider__title {
  font-family: "Open Sans";
  font-weight: 300;
  letter-spacing: 0.34em;
  text-transform: uppercase;
  margin: 0;
  line-height: 1;
  margin-bottom: 40px;
}

.promo-slider__title-discount {
  font-family: "Lato";
  font-size: 60px;
  font-weight: 900;
  margin: 0;
  line-height: 1;
  margin-bottom: 40px;
}

.promo-slider__title-tagline {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 30px;
  line-height: 1;
  margin: 0;
  margin-bottom: 72px;
}

.promo-slider__title-shop {
  font-family: "Lato";
  font-weight: 900;
  line-height: 1;
  font-size: 18px;
  text-decoration: none;
  color: $bg;
  border: 2px solid $bg;
  padding: 20px 48px 20px 48px;
  border-radius: 2px;
    &:hover {
      transition: 0.6s;
      background-color: $bg;
      color: $red
    }
}

.promo-slider__button {
  margin-bottom: 56px;
}

.promo-slider__button-item {
  @include slider-button;
  margin: 0 3px;
}

