.promo-slider {
  height: 100vh;
  background: url(/img/promo_slider/main_slider.png) no-repeat center top;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.promo-slider__title-wrapper {
  text-align: center;
  color: $bg;
}

.promo-slider__button {
  text-align: center;
}

.promo-slider__title {
  font-family: "Open Sans";
  font-weight: 300;
  letter-spacing: 0.34em;
  text-transform: uppercase;
  margin: 0;
  line-height: 1;
  margin-bottom: 40px;
}

.promo-slider__title-discount {
  font-family: "Lato";
  font-size: 60px;
  font-weight: 900;
  margin: 0;
  line-height: 1;
  margin-bottom: 40px;
}

.promo-slider__title-tagline {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 30px;
  line-height: 1;
  margin: 0;
  margin-bottom: 72px;
}

.promo-slider__title-shop {
  font-family: "Lato";
  font-weight: 900;
  line-height: 1;
  font-size: 18px;
  text-decoration: none;
  color: $bg;
  border: 2px solid $bg;
  display: inline-block;
  min-width: 200px;
  padding: 18px 0;
  border-radius: 2px;
    &:hover {
      transition: 0.6s;
      background-color: $bg;
      color: $red
    }
}

.promo-slider__button-item {
  @include slider-button;
  margin: 0 3px;
}

@media (max-width: $tablet) {
  .promo-slider {
    background: url(/img/promo_slider/main_slider_tablet.png) no-repeat center top;
    height: 480px;

    &__title {
      font-size: 20px;
    }

    &__title-discount {
      font-size: 35px;
    }

    &__title-tagline {
      font-size: 18px;
    }

    &__title-shop {
      min-width: 160px;
      font-size: 13px;
      padding: 14px 0;
    }
  }
}

@media (max-width: $mobile) {
  .promo-slider {
    background: url(/img/promo_slider/main_slider_mobile.png) no-repeat center top;
    background-size: cover;
    height: 372px;

    &__title {
      font-size: 16px;
      margin: 0;
    }

    &__title-discount {
      font-size: 30px;
      margin: 0;
    }

    &__title-tagline {
      font-size: 14px;
      margin: 0;
    }

    &__title-shop {
      min-width: 120px;
      font-size: 12px;
      padding: 10px 0;
    }
  }
}

